.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 350px;
  background-color: var(--card-background);
  border-radius: var(--custom-border-radius);
  box-shadow: var(--custom-box-shadow);
  padding: 1.5rem;
  transition: all 0.3s ease;
  margin-bottom: 2rem;
}

.featureCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.featureContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.featureDescription {
  flex-grow: 1;
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding-top: 1.5rem;
}